<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-pickup-call-card status="hold" updateAt="04/10/2021 09:00" createAt="15/09/2021 21:00" notes="Notes: we have two bags that are full, one with plastic and other with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="processing" updateAt="03/10/2021 14:00" createAt="12/10/2021 10:00" notes="Notes: we have two bags that are full, one with plastic and other with glasses"></app-pickup-call-card>
  <app-pickup-call-card status="finished" updateAt="01/10/2021 10:00" createAt="28/09/2021 15:00" value="R$ 12,00"></app-pickup-call-card>

</ion-content>
