<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>
   <ion-item>
     <ion-avatar slot="start">
      <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairDreads&accessoriesType=Round&hairColor=Blue&facialHairType=BeardMedium&facialHairColor=Brown&clotheType=Hoodie&clotheColor=White&eyeType=Side&eyebrowType=Angry&mouthType=Sad&skinColor=Pale'
      />
     </ion-avatar>
     <ion-label>
       <h1>Estevão Soares</h1>
       <p>Gathered:<span class="money"> R$ 12,00</span></p>
     </ion-label>
   </ion-item>
 </ion-list>

 <app-pickup-call-card  [hasHeader]="true" [hasFooter]="true"  
 status="hold" updateAt="04/10/2021 09:00" createAt="15/09/2021 21:00"
notes="Notes: we have two bags that are full, one with plastic and other with glasses"
(click)="pickupCalls()">

</app-pickup-call-card>


 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
   <ion-fab-button (click)="pickupCall()" color='dark'>
     <ion-icon name="add"></ion-icon>
   </ion-fab-button>
 </ion-fab>
</ion-content>
